# Spring Configuration
SPRING_PROFILES_ACTIVE=prod

# Application Configuration
STORAGE_TYPE=s3
AWS_S3_ACCESS_KEY=
AWS_S3_SECRET_KEY=
AWS_S3_REGION=
AWS_S3_BUCKET=
AWS_S3_PRESIGNED_URL_EXPIRATION=

# DataSource Configuration
RDS_ENDPOINT=
SPRING_DATASOURCE_URL=jdbc:
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# JVM Configuration (프리티어 고려)
JVM_OPTS=