# 운영 환경 설정
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/discodeit
    username: discodeit_user
    password: discodeit1234
    driver-class-name: org.postgresql.Driver
    # PostgreSQL createClob() 경고 메시지 제거
    hikari:
      connection-init-sql: SET SESSION hibernate.jdbc.lob.non_contextual_creation=true

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: discodeit
        ddl-auto: none

  sql:
    init:
      mode: always
      schema-locations: classpath:schema-prod.sql

logging:
  level:
    org.hibernate.SQL: info
    org.hibernate.orm.jdbc.bin  d: trace

server:
  port: 8080