<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- yml 값 연동 -->
    <springProperty name="LOG_PATH" source="logging.file.path" defaultValue="./logs"/>
    <springProperty name="APP_NAME" source="spring.application.name" defaultValue="discodeit"/>

    <!-- 색상 변환기 등록 -->
    <conversionRule conversionWord="clr"
                    converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>

    <!-- 콘솔: 색상+패턴 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %clr(%d{yy-MM-dd HH:mm:ss.SSS}){faint} [%thread] %highlight(%-5level) %clr(%logger{36}){cyan} [%X{traceId} | %X{method} | %X{requestURI}] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- 파일: 일자별로 롤링(30일 보관) -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${APP_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%X{traceId} | %X{method} | %X{requestURI}] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- 루트 로거 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

    <!-- 선택: 패키지별 레벨 -->
    <logger name="com.sprint.mission" level="DEBUG"/>
</configuration>
